:root {
  --crimson: #702732;
  --black: #111111;
  --white: #fdfdff;
  --yellow: #fae100;

  --instagram-blue: #3051f1;
  --instagram-purple: #c92bb7;
  --instagram-red: #f73344;
  --instagram-orange: #fa8e37;
  --instagram-yellow: #fcdf8f;
  --instagram-yellow_to: #fbd377;
}
